// Color

$bg-color: #0a0f1d;
$catalog-bg-color: #0b0d19;
$white: #fff;
$black: #000;
$gray: #6c6f77;

$gradient: linear-gradient(270deg, #ef2dff 0%, #013dff 100%);
$gradient-vert: linear-gradient(to top, #ef2dff 0%, #013dff 100%);

@mixin gradient-text-gray {
	background-image: linear-gradient(
		to bottom,
		rgba($white, 0.9),
		rgba($white, 0.6)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 400;
}
